h1{
    text-align: center;
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
}

body{
    background-color: #85C1E9;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

input {
    width: 50px;
    margin: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
}

.goal {
    text-align: left;
}

.calculator {
    margin: auto;
    text-align: left;
    margin-left: 10;
}

.center {
    margin: auto;
    border: 2px solid #2874A6;
    border-radius: 5px;
    padding: 10px;
}

.reset {
    text-align: right;
}

.reset button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}